.emailInput {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pwInput {
    width: 100%;
}

.pwText {
    text-align: left;
}

.button {
    background-color: rgb(46, 117, 242);
}

.titleText {
    font-family: 'Inika';
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.box {
    width: 100%;
    border: solid rgba(46, 117, 242, 0.45) 3px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subText {
    opacity: 0.5;
}

.titleContainer {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 400px;
}